<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256363804943-c2adk6k2ovheffgn2na32n8u8un2ob61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256363804943-c2adk6k2ovheffgn2na32n8u8un2ob61</string>
	<key>API_KEY</key>
	<string>AIzaSyA-UulpUjybHiU6alxxq0DavGw9QvrvofQ</string>
	<key>GCM_SENDER_ID</key>
	<string>256363804943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agency.galt.savie.savie</string>
	<key>PROJECT_ID</key>
	<string>savie-dev-428016</string>
	<key>STORAGE_BUCKET</key>
	<string>savie-dev-428016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256363804943:ios:2d76f84fd9d2481609267a</string>
</dict>
</plist>